.modal_container {
    height: 90vh;

    &_header {
        display: flex;
        align-items: center;

        &_title {
            width: 90%;
        }

        &_btn {
            cursor: pointer;
            font-size: 30px;
            font-weight: 600;
        }

    }

    &_body {
        height: 80%;

    }
}